body {
	font: 14px Tahoma, sans-serif;
	background-color: #DCDCDC;
	border-top: 7px solid #7e7e7e;
	border-bottom: 7px solid #7e7e7e;
	margin: 0;
}
#header {
    background: #7e7e7e;
	height: 50px;
	width: 100%;
	text-align: center;
	color: #330000;
}
h1{
	color: #800000;	
}
h3{
	font-style: oblique;
}

#button1 {
	color: black;
	background-color: #FFE4E1;
}
#button2 {
    background-color: #FFA07A;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border: 2px solid #8B0000;
}
#image1{
	width: 100%;
}
figure{
	float: left;
	width: 50%;
    margin: 0 30px 30px 5px;
    border-radius: 5px; 
    box-shadow: 0 0 5px #999999; 
}

p {
	margin: 20px;
	text-indent: 30px;
}
fieldset{
	margin: 0px 5px 5px 0px;
}